---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Sobre mim" description="" />
	</head>
	<body>
		<Header />
		<main class="m-2 mt-12 w-full flex flex-col place-items-center">
			<section>Ola</section>
		</main>
	</body>
</html>
