---
import Layout from "../layouts/BlogPost.astro";
import { Markdown } from "astro-remote";
let response: string = "";
const markdown = await fetch(
	"http://raw.githubusercontent.com/duansydor/duansydor/main/README.md",
).then((res) => res.text());
console.log(typeof markdown);
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
	<div class="about-md">
		<Markdown content={markdown} />
	</div>
</Layout>
