---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div
				class="relative p-10 h-auto text-blue-950 flex items-start flex-col md:flex-row "
			>
				<div class="mt-auto mb-auto">
					<h1 class="mt-auto text-2xl font-bold" id="title">
						MEU ESPAÇO VIRTUAL
					</h1>
					<h1 class="text-xl font-bold">sinta-se em casa!</h1>
					<p class="mt-2 w-96 text-lg font-light mb-auto sm:w-96">
						Seja bem vindo ao meu Portfólio. Me chamo Duan e sou um
						desenvolvedor front-end junior da cidade de Guarapuava,
						no Paraná. Atualmente estudo: NextJS, TailwindCSS e
						NodeJS mas possuo também experiencia básica com Java e
						Python.
					</p>
				</div>
				<div class="-pb-20">
					<img class="w-96" src="/Hero.svg" alt="|Hero" />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
